{%- include 'control' global_var: global_var -%}
{{ 'page.list-collections.js'  | asset_url | script_tag }}
{{ "filter.css" | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>
<!--<div style="display: flex;">-->

<div id="main-body" class=" slideout-panel">
  <div id="slideout-overlay"></div>
  <div id="main" role="main">
    <div class="container-fluid">
      <div class="">
        <div class="row">
          <div class="col-xs-12">
            <article id="search-results-page" class="page hentry">
              <section class="entry-content">
                <div class="snize snize-search-results" id="snize_results">
                  <div class="snize-filters-sidebar snize-product-filters">
                    <div
                      id="snize_filters_block_price"
                      class="snize-product-filters-block"
                      style="display: block"
                    >
                      <div class="snize-product-filters-title open">
                        <i class="snize-product-filters-close"></i
                        ><i class="snize-product-filters-open"></i
                        ><span
                          >Price<span class="snize-product-filters-price-symbol"
                            >, $</span
                          ></span
                        >
                      </div>
                      <ul
                        class="snize-product-filters-list"
                        style="display: block"
                      >
                        <li>
                          <div>
                            <div>
                              <!-- SLIDER -->
                              <p>
                                <label for="price" style="font-family:Verdana;"
                                  >Price Range:</label
                                >
                                <input
                                  type="number"
                                  id="pricemin"
                                  style="border:0; color:#fa4b2a; font-weight:bold;"
                                /><input
                                  type="number"
                                  id="pricemax"
                                  style="border:0; color:#fa4b2a; font-weight:bold;"
                                />
                              </p>

                              <div
                                id="mySlider"
                                style="margin-top:20px;background: bisque;border-radius: 4px;border: 1px solid #aaaaaa;color: #2c4359;font-family: Gill Sans,Arial,sans-serif;font-size: 1.2em;position: relative;text-align: left;height: .8em;"
                              ></div>
                              <!-- ACABA SLIDER -->
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div
                      id="snize_filters_block_product_type"
                      class="snize-product-filters-block"
                      style="display: block"
                    >
                      <div class="snize-product-filters-title open">
                        <i class="snize-product-filters-close"></i
                        ><i class="snize-product-filters-open"></i
                        ><span>Productos</span>
                      </div>
                      <ul
                        class="snize-product-filters-list"
                        style="display: block"
                      ></ul>
                    </div>
                    <div
                      id="snize_filters_block_collections"
                      class="snize-product-filters-block"
                      style="display: block"
                    >
                      <div class="snize-product-filters-title open">
                        <i class="snize-product-filters-close"></i
                        ><i class="snize-product-filters-open"></i
                        ><span>Colecciones</span>
                      </div>
                      <ul
                        class="snize-product-filters-list"
                        style="display: block"
                      ></ul>
                    </div>
                  </div>

                  <!--<div id="contenedor" class="grid-container" style="width: -moz-available;">

</div>-->
                  <!--</div>-->

                  <!--CUERPO DE PRODUCTOS!!!!style="width: 1052px;"-->

                  <div class="snize-search-results-main-content">
                    <div
                      id="snize-search-results-grid-mode"
                      style="width: 75%;"
                      class="snize-four-columns"
                    >
                      <div
                        id="widget_disabled_opacity"
                        class="disabled-opacity snize-hidden"
                        style="width: 0px; height: 0px;"
                      ></div>
                      <ul class="snize-search-results-content clearfix"></ul>
                    </div>
                  </div>

                  <!-- PAGINADO -->

                  <div class="snize-pagination">
                    <ul></ul>
                  </div>

                  <!-- FIN PAGINADO -->

                  <!--FIN CUERPO PRODUCTOS-->
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                  
               
                  
                  
                  
                  
                  
                  
                  
                  
                  
